h1{
 background-color:#cccccc;
}


table,th,td{
	border:2px solid #cccccc;
	border-collapse: collapse;
}
table, td {
	border:2px solid rgb(96, 125, 139);
	border-collapse:collapse;
}
th{
  font-size:1.2em;

}
